html,
body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
  font: normal 100% 'RobotoRegular', Arial, sans-serif;
}
a {
  color: #0099cc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #007399;
}
.center {
  margin: auto;
  text-align: center;
  display: block;
}
.base {
  color: black;
  background: white;
}
.inverse {
  color: white;
  background: black;
}
.menu {
  padding: 1em;
  color: #0099cc;
  background-color: black;
  border-bottom: 2px solid black;
}
#editor-box {
  height: 60%;
  border-bottom: 1px solid #999999;
}
#inputbox {
  padding-left: 1em;
}
#input {
  width: 80%;
}
#chatbox {
  height: 25%;
  padding: 1em;
  overflow: auto;
  background-color: black;
  color: white;
}
#chatbox .inform {
  font-size: 80%;
  color: #669900;
}
#chatbox .speech .origin {
  color: #0099cc;
}
